.headerPainel {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 0;
  background: #fff;
  height: 70px;
  padding: 0 3.5rem 0 calc(3.5rem * .5);
  border-bottom: 1px solid #e9ebec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.campoHeader {
  margin-bottom: 0px;
}

.HeaderRight {
  display: flex;
  align-items: center;
  gap: 25px;
}

.HeaderRight span {
  position: relative;
}

.HeaderRight span i {
  font-size: 25px;
  transition: .3s ease-out;
  cursor: pointer;
}

.HeaderRight span:hover i {
  transform: scale(1.2);
}

.alertNotification {
  position: absolute;
  top: -6px;
  right: -9px;
  background:#405189;
  color: #fff;
  font-weight: 600;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.blocoUser {
  display: flex;
  align-items: center;
  gap: 12px;
}

.imgUser {
  max-width: 32px;
}

.blocoUserName {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
}

.blocoUserSub {
  font-weight: 500;
  font-size: 12px;
}