/* Menu lateral */
.sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #405189;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  z-index: 1000;
}
.containerLogo {
  display: flex;
  justify-content: center;
}
.logoSide {
  max-width: 180px;
  margin-bottom: 40px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.link {
  color: #abb9e8;
  text-decoration: none;    
  font-size: 15px;
  transition: 0.2s;
  font-weight: 500;
  cursor: pointer;
}
.link i {
  margin-right: 10px;
}
.link:hover {
  color: #fff;
}