@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #484954;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", sans-serif;
}

ol, ul {
	list-style: none;
  padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input, select, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border: none;
  background: #f8f9fa;
  border-radius: 25px;
  outline: none;
}

textarea {
  resize: none;
}

select {
  /* Remove a seta padrão e os estilos nativos */
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* Padrão */

  /* Opcional: Para IE10+ */
  &::-ms-expand {
    display: none;
  }
}

.campo-select i{ 
  position: absolute;
  top: 17px;
  right: 20px;
}

.btn {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #414f79;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

.btn i {
  margin-right: 5px;
}

.btn:hover {
  background-color: #52618b;
  box-shadow: 0 0 20px #6fc5ff50;
}

.btn:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.btn.btn-red {
  background-color: rgb(221, 70, 70);
}

.btn.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.campo-container {
  position: relative;
  margin-bottom: 10px;
}
.campo-icon input {
  padding-left: 55px;
}
.campo-icon span {
  position: absolute;
  top: 12px;
  left: 15px;
  padding-right: 10px;
  border-right: 1px solid #c0c0c0;
}

.link {
  font-size: 13px;
  color: #414f79;
  cursor: pointer;
}

/* Segura tudo */
.container {
  display: flex;
  min-height: 100vh;
  background: #f3f3f9;
}

/* Conteúdo principal */
.content {
  flex: 1;
  background-color: #f3f3f9;
  padding: calc(70px + 1.5rem) calc(3.5rem * .5) 60px calc(3.5rem * .5);
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 1280px) {
  .content {
    margin-left: 250px;
  }
}

.custom-loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}